{% extends "layout.html" %}

{% block title %}Well hello there!{% endblock %}

{% block content %}
    <div class="row">
        <h1>Welcome!</h1>
        <p>There {{ new_courses|pluralize:"is,are" }} {{ new_courses }} new courses{{ new_courses|pluralize }} this week.</p>
        <a href="{% url 'courses:list' %}" class="link">Check out our latest courses</a>
    </div>
    <div class="row">
        {% if user.is_authenticated %}
        <hr>
        <a href="{% url 'courses:course_create' %}" class="button">New Course</a>
        {% endif %}
    </div>
{% endblock %}

